/.vs/PaintCode2Skia/v15/*
/packages/S*
/.vs/PaintCode2Skia/v15/.suo
/PaintCode2Skia/bin/*
/PaintCode2Skia/obj/*
/Sample/PaintCodeResources.Sample.WinForms/bin/*
/Sample/PaintCodeResources.Sample.WinForms/obj/*
/Sample/PaintCodeResources/bin/*
/Sample/PaintCodeResources/obj/*